@use "sass:math";

// From Base Folder
@import "base/_imports";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";

// From Modules
@import "modules/_borders";
@import "modules/_btn";
@import "modules/_colors";
@import "modules/_display";
@import "modules/_heading";
@import "modules/_hover";
@import "modules/_input";
@import "modules/_links";

// From Iswad
@import "iswad/_adminNav";
@import "iswad/_alert";
@import "iswad/_desktopNavBar";
@import "iswad/_mobileNavBar";
@import "iswad/_pagination";
@import "iswad/_table";
@import "iswad/_input";
@import "iswad/_search";
