version: "3.9"

services:
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.createSSL
      context: ./nginx
      args:
        APP_URL: ${APP_URL}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static-data:/vol/static
      - ./client/dist:/usr/share/nginx/html
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    depends_on:
      - api

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  api:
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./api
    env_file:
      - ./config/envFiles/django/prod/.env
    command: ./docker-entrypoint-prod.sh
    volumes:
      - static-data:/usr/src/app/vol
    ports:
      - "8000:8000"
    depends_on:
      - db

  celery:
    build:
      dockerfile: Dockerfile
      context: ./api
    env_file:
      - ./config/envFiles/django/prod/.env
    volumes:
      - static-data:/usr/src/app/vol
    command: celery -A config worker -l info
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      dockerfile: Dockerfile
      context: ./api
    env_file:
      - ./config/envFiles/django/prod/.env
    volumes:
      - static-data:/usr/src/app/vol
    command: celery -A config beat -l info
    depends_on:
      - db
      - redis

  celery-flower:
    build:
      dockerfile: Dockerfile
      context: ./api
    env_file:
      - ./config/envFiles/django/prod/.env
    volumes:
      - static-data:/usr/src/app/vol
    command: celery -A config flower --basic_auth=${CELERY_FLOWER_USER}:${CELERY_FLOWER_PASSWORD}
    ports:
      - "5555:5555"
    depends_on:
      - db
      - redis

  db:
    restart: always
    image: postgres:13-alpine
    env_file:
      - ./config/envFiles/postgres/prod/.env
    ports:
      - "${SERVER_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine3.15
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
  static-data:
