@import 'Styles/base/_variables';
@import 'Styles/base/_mixins';

.introduction {
  &Row {
    flex-direction: row-reverse;
  }

  &Button {
    font-size: 16px;
  }
  &CertificateIcon {
    margin-right: 10px;
  }
}

.bigText {
  font-size: 3rem;
}
