.container {
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.input {
  width: 100%;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 1rem;
  border: solid 1px #ebebeb;
  height: 40px;

  &WithEye {
    padding-left: 1.5rem;
  }

  &Container {
    position: relative;
  }

  &:focus {
    outline: none;
  }
}

.label {
  color: #777;
  font-size: 14px;

  &Container {
    margin-bottom: 4px;
    margin-left: 4px;
  }
}

.eye {
  position: absolute;
  top: 12px;
  left: 6px;
}

.lineThrough {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 18px;
  background-color: #595959;
  width: 1.5px;
  transform: rotate(45deg);
}
