.text {
  &Primary {
    color: $primaryColor;
  }

  &Faded {
    color: $fadedColor;
  }

  &Info {
    color: $infoColor;
  }

  &Inverse {
    color: $inverseColor;
  }

  &Success {
    color: $successColor;
  }

  &Warning {
    color: $warningColor;
  }

  &Danger {
    color: $dangerColor;
  }
}

.bg {
  &Primary {
    background-color: $primaryColor;
  }

  &Faded {
    background-color: $fadedColor;
  }

  &Info {
    background-color: $infoColor;
  }

  &Inverse {
    background-color: $inverseColor;
  }

  &Success {
    background-color: $successColor;
  }

  &Warning {
    background-color: $warningColor;
  }

  &Danger {
    background-color: $dangerColor;
  }
}
