.show-flex-in {
  &-sm-md-lg {
    display: none;

    @include atSmall {
      display: flex;
    }

    @include atMedium {
      display: flex;
    }

    @include atLarge {
      display: flex;
    }
  }

  &-md-lg {
    display: none;

    @include atMedium {
      display: flex;
    }

    @include atLarge {
      display: flex;
    }
  }

  &-lg {
    display: none;

    @include atLarge {
      display: flex;
    }
  }

  &-md-sm-xsm {
    display: flex;

    @include atLarge {
      display: none;
    }
  }

  &-sm-xsm {
    display: flex;

    @include atMedium {
      display: none;
    }
  }

  &-xsm {
    display: flex;

    @include atSmall {
      display: none;
    }
  }
}

.show-block-in {
  &-sm-md-lg {
    display: none;

    @include atSmall {
      display: block;
    }

    @include atMedium {
      display: block;
    }

    @include atLarge {
      display: block;
    }
  }

  &-md-lg {
    display: none;

    @include atMedium {
      display: block;
    }

    @include atLarge {
      display: block;
    }
  }

  &-lg {
    display: none;

    @include atLarge {
      display: block;
    }
  }

  &-md-sm-xsm {
    display: block;

    @include atLarge {
      display: none;
    }
  }

  &-sm-xsm {
    display: block;

    @include atMedium {
      display: none;
    }
  }

  &-xsm {
    display: block;

    @include atSmall {
      display: none;
    }
  }
}
