.input {
  padding: $inputPaddingY $inputPaddingX;
  color: $inputTextColor;
  background-color: $inputBgColor;

  &:focus {
    color: $focusTextColor;
    background-color: $focusBgColor;
  }
}

.required::after {
  content: '*';
  color: red;
}

.required-before {
  &::before {
    content: '*';
    color: red;
  }

  &::after {
    content: '';
    color: red;
  }
}

.textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid rgb(168, 166, 166);
  min-height: 100px;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;

  &:hover {
    border: 2px solid $fadedColor;
  }

  &:active {
    border: 2px solid $fadedColor;
  }

  &:focus {
    outline: none;
    border: 2px solid $fadedColor;
  }

  &_container {
    justify-content: start;
    position: relative;
  }

  &_field_container {
    margin-bottom: 1rem;
  }

  &_errorMessage {
    display: none;
    color: red;
    position: absolute;
    top: 1rem;

    &_active {
      display: block;
    }
  }
}
