.hover-text-primary:hover {
  color: $primaryColor;
}

.hover-text-faded:hover {
  color: $fadedColor;
}

.hover-text-info:hover {
  color: $infoColor;
}

.hover-text-inverse:hover {
  color: $inverseColor;
}

.hover-text-success:hover {
  color: $successColor;
}

.hover-text-warning:hover {
  color: $warningColor;
}

.hover-text-danger:hover {
  color: $dangerColor;
}

.hover-bg-primary:hover {
  background-color: $primaryColor;
}

.hover-bg-faded:hover {
  background-color: $fadedColor;
}

.hover-bg-info:hover {
  background-color: $infoColor;
}

.hover-bg-inverse:hover {
  background-color: $inverseColor;
}

.hover-bg-danger:hover {
  background-color: $dangerColor;
}

.hover-bg-success:hover {
  background-color: $successColor;
}

.hover-bg-warning:hover {
  background-color: $warningColor;
}
