@import 'Styles/base/_variables';
@import 'Styles/base/_mixins';

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &Icon {
    transform: scale(2);
  }
  &Img {
    border-radius: 50%;
    max-width: 50px;
  }
  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }

  @include atLarge {
    min-width: 600px;
  }

  @include atSmall {
    max-width: 300px;
  }
}
