.iswad_input {
  &_container {
    justify-content: start;
    position: relative;
  }

  // &_field_container {
  //   // margin-bottom: 1rem;
  // }

  &_errorMessage {
    display: none;
    position: absolute;
    bottom: -1.5rem;
    left: 8px;
    font-size: 12px;
    color: red;

    &_active {
      display: block;
    }
  }
}
