@import 'Styles/base/_variables';
@import 'Styles/base/_mixins';

.row {
  flex-direction: row-reverse;
}

.about {
  box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px,
    rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}
.aboutImage {
  max-width: 380px;
  border-radius: 10px;
  max-height: 550px;
}

.textEnContainer {
  margin-bottom: 2rem;
  padding: 0px 3rem;
  @include atLarge {
    border-left: solid 3px $fadedColor;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 4rem;
  }
}

.textFaContainer {
  margin-bottom: 2rem;
  padding: 0px 3rem;
  @include atLarge {
    border-right: solid 3px $fadedColor;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 4rem;
  }
}

.textFarsi {
  direction: rtl;
  text-align: justify;
}
