.listItem {
  &_container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    // border-bottom: 20px solid #e138385e;
    margin-bottom: 1rem;
  }

  &_item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #ff1717;
    transition: all 0.3s;
    opacity: 0.7;
    color: white;

    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }

    &_index {
      background-color: #ffda00a3;
    }
  }
}
