html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSize;
  overflow-x: hidden;

  @include atSmall {
    font-size: $fontSmallSize;
  }

  @include atMedium {
    font-size: $fontMediumSize;
  }

  @include atLarge {
    font-size: $fontLargeSize;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  max-width: $maxContainerWidth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.mainInputContainer {
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.labelForInput {
  color: $appGrayDarkColor;
  font-size: 14px;

  &Container {
    margin-bottom: 4px;
    margin-left: 4px;
  }
}

.inputField {
  width: 100%;
  border: none;
  box-shadow: $boxShadow1;
  padding: 8px 1rem;
  border: solid 1px $appGrayBrightColor;
  height: 40px;

  &Container {
    position: relative;
    margin-bottom: 2rem;
  }

  &:focus {
    outline: none;
  }
}
