//Buttons
$btnColorHover: #ccc;
$btnTextColor: black;
$btnBgColor: orange;
$btnBorderRadius: 10px;
$btnPadding: 1rem;

$btnLarge: 200px;
$btnMedium: 100px;
$btnSmall: 80px;

$btnSmallSizeLarge: 200px;
$btnSmallSizeMedium: 100px;
$btnSmallSizeSmall: 80px;

$btnMediumSizeLarge: 400px;
$btnMediumSizeMedium: 200px;
$btnMediumSizeSmall: 160px;

$btnLargeSizeLarge: 400px;
$btnLargeSizeMedium: 200px;
$btnLargeSizeSmall: 160px;

// Colors
$primaryColor: #0275d8;
$fadedColor: #f7f7f7;
$infoColor: #5bc0de;
$inverseColor: #292b2c;
$warningColor: #f0ad4e;
$successColor: #5cb85c;
$dangerColor: #d9534f;

// Fonts
$fontFamily: 'Roboto', 'sans-serif';
$fontSize: 16px;
$fontSmallSize: 16px;
$fontMediumSize: 16px;
$fontLargeSize: 18px;
$fontColor: black;

// Headings
$fontHeadingWeight: bold;

$fontH1Size: 32px;
$fontH1SmallSize: 32px;
$fontH1MediumSize: 40px;
$fontH1LargeSize: 48px;

$fontH2Size: 26px;
$fontH2SmallSize: 26px;
$fontH2MediumSize: 32px;
$fontH2LargeSize: 36px;

$fontH3Size: 22px;
$fontH3SmallSize: 22px;
$fontH3MediumSize: 24px;
$fontH3LargeSize: 28px;

// Inputs
$inputPaddingX: 8px;
$inputPaddingY: 6px;
$inputTextColor: black;
$inputBgColor: white;
$focusTextColor: black;
$focusBgColor: #ccc;

// Links
$linkColor: black;
$linkHoverColor: pink;
$linkBgColor: transparent;
$linkHoverBgColor: transparent;

// Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 100%;

// Box Shadows
$boxShadow1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

// Generals
$appGrayBrightColor: #ebebeb;
$appGrayDarkColor: #777;
