@import 'Styles/base/_variables';
@import 'Styles/base/_mixins';

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  width: 200px;
  height: 500px;

  @include atMedium {
    height: auto;
  }

  &Img {
    width: 200px;
    height: 200px;

    @include atSmall {
      width: 250px;
      height: 250px;
    }

    @include atMedium {
      width: 300px;
      height: 300px;
    }
  }

  @include atSmall {
    width: 250px;
  }

  @include atMedium {
    width: 300px;
  }

  &:hover {
    @include atMedium {
      transform: scale(1.05);
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    @include atLarge {
      transform: scale(1.05);
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
  }

  &Title {
    font-size: 24px;
    font-weight: bold;
  }

  &Text {
    font-size: 14px;
  }
}
